<?php

namespace Config;

class Parameters
{
    const SYSTEM = [
        'debug' => true,
    ];

    const DATABASE = [
        'host' => '',
        'dbname' => '',
        'user' => '',
        'password' => '',
        'charset' => '',
        'driver' => '',
    ];
}
